
<h2>Hero Details</h2>
<ul class="heroes"> <!--ngFor here-->
  <li *ngFor="let hero of heroes">
    <button type="button" [class.selected]="hero === selectedHero" (click)="onSelect(hero)"> <!--Class must be before event -->
      <div><span class="badge">id: {{hero.id}}</span></div>
      <div><span class="name">name: {{hero.name}}</span></div>
    </button>
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div>id: {{selectedHero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div>
